[submodule "hugo/themes/PaperMod"]
	path = hugo/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "zola/themes/papermod_2"]
	path = zola/themes/papermod_2
	url = https://github.com/SteloNLD/zola-theme-papermod-2.git
